<h1><%= @user.email %></h1>


<%= form_with model: [ @user, @user.tasks.build ] do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @user.errors.full_messages_for(:title).each do |message| %>
      <div class="text-red-600"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% @user.errors.full_messages_for(:description).each do |message| %>
      <div class="text-red-600"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :due_date %><br>
    <%= form.date_select :due_date %>
    <% @user.errors.full_messages_for(:due_date).each do |message| %>
      <div class="text-red-600"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit :class => "btn-primary" %>
  </div>
<% end %>